<div class="main">
    <div class="content">
    <h1>
        Dress <br> <span>Shop App</span>
    </h1>

<div class="form">
    <h2>Login</h2>
    <form ngNativeValidate (submit)="login()">
            <input type="email"
            name="email" id="email" [(ngModel)]="email"
             placeholder="Enter Email Here">
              <input type="password" name="password" id="password" [(ngModel)]="password"
            placeholder="Enter Password Here">
        <button class="btnn">Submit</button>

    </form>
</div>
</div>
</div>
